/*
    Theme Name: MyPen
    Theme URI: http://fthemes.com/mypen-free-wordpress-theme/
    Description: Free General/Blog WordPress theme by FThemes
    Author: FThemes
    Author URI: http://fthemes.com
    Version: 1.0
    Tags: blue, red, two-columns, right-sidebar
*/

/* INDEX:

    =GENERAL
    =LAYOUT
    =HEADER
    =MENUS
    =POST
    =SITEMAP
    =CONTACT FORM
    =SLIDER
    =WP-PAGENAVI
    =FOOTER
    =WIDGETS
    =COMMENTS
*/

/* =GENERAL
-------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Coustard|Artifika);

body {
    background: #0D2540 url(images/background.png) left top repeat-x;
    color: #555555;
}

a {
    color: #0F427D;
    text-decoration: none;
}

a:hover, a:focus {
    color: #FF0000;
    text-decoration: none;
}

a:focus { 
    outline: none;
}

/* =LAYOUT
-------------------------------------------------------------- */

#container {
	width: 960px;
	margin: 16px auto 0 auto;
}

#main {
	padding: 15px;	
    background: #fff;
}

#main-fullwidth {
    padding: 15px;
    background: #fff;
}

#content {
    overflow: hidden;
    float: left;
    width: 615px;
}

#sidebar-primary {
    overflow: hidden;
	float: left;
    width: 300px;
    margin-left: 15px;
}

/* =HEADER
-------------------------------------------------------------- */

#header {
    height: 60px;
    padding:26px 0;
    background: url(images/header-bg.png) left top repeat-x;
}

.logo {
    float: left;
    margin-left: 15px;
}

.logo h1.site_title {
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, Sans-serif;
    font-size:48px;
    line-height: 40px;
    font-weight: bold;
}

.logo h1.site_title a, .logo h1.site_title a:hover {
    color: #13365E;
    text-decoration: none;
}

.logo h2.site_description {
    margin: 0;
    padding:0;
    color: #13365E;
    font-family: Arial, Helvetica, Sans-serif;
    font-size:14px;
    line-height: 14px;
}

.header-right {
    float: right;
}

#top-social-profiles {
    padding-top: 10px;
    height: 32px;
    text-align: right;
    margin-right: 15px;

}
#top-social-profiles img {
    margin: 0 0 0 6px !important;
} 

#top-social-profiles img:hover {
    opacity: 0.8;
}
#top-social-profiles .widget-container {
  background: none;
  padding: 0;
  border: 0;
}

/* =MENUS
-------------------------------------------------------------- */

/* Menu Primary
----------------------------*/

.menu-primary-container {
    padding:0;
    position:relative;
    height: 40px;
    background: url(images/menu-primary-bg.png) left top repeat-x;
    z-index: 400;
}

.menu-primary {
}

.menu-primary ul {
	min-width: 160px;
}

/* First Level - Menu Primary */

.menu-primary li a {
    color: #FFFFFF;
    padding: 15px 15px 14px 15px;
	text-decoration: none;
    font-family: 'Coustard', serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
}

.menu-primary li a:hover, .menu-primary li a:active, .menu-primary li a:focus, 
.menu-primary li:hover > a, .menu-primary li.current-cat > a, .menu-primary li.current_page_item > a, .menu-primary li.current-menu-item > a {
    color: #102E50;
    outline: 0;
    background: url(images/menu-primary-bg.png) left -140px repeat-x;
}

/* Child Levels - Menu Primary */

.menu-primary li li a {
	color: #fff;
    text-transform: none;
    background: #DD312E;
    padding: 10px 15px;
    margin: 0;
    border: 0;
    font-weight: normal;
}

.menu-primary li li a:hover, .menu-primary li li a:active, .menu-primary li li a:focus, 
.menu-primary li li:hover > a, .menu-primary li li.current-cat > a, .menu-primary li li.current_page_item > a, .menu-primary li li.current-menu-item > a {
	color: #fff;
    background: #EF4542;
    outline: 0;
    border-bottom:0;
    text-decoration: none;
}


/* Arrows Menu Primary */

.menu-primary a.sf-with-ul {
    padding-right: 20px;
    min-width: 1px;
}
.menu-primary  .sf-sub-indicator {
    position: absolute;
    display: block;
    overflow: hidden;
    right: 0;
    top:  0;
    padding: 14px 10px 0 0;
}

.menu-primary  li li .sf-sub-indicator {
    padding: 9px 10px 0 0;
}

/* Shadows Menu Primary */

.wrap-menu-primary .sf-shadow ul {
    background:	url('images/menu-primary-shadow.png') no-repeat bottom right;
}

/* Menu Secondary
----------------------------*/

.menu-secondary-container {
    position:relative;
    height: 40px;
    z-index: 300;
    background: #F0F3F6;
}

.menu-secondary {}

.menu-secondary ul {
    min-width: 160px;
}

/* First Level - Menu Secondary */
.menu-secondary li a {
    color: #112F51;
    padding: 14px 15px ;
	text-decoration: none;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.menu-secondary li a:hover, .menu-secondary li a:active, .menu-secondary li a:focus, 
.menu-secondary li:hover > a, .menu-secondary li.current-cat > a, .menu-secondary li.current_page_item > a, .menu-secondary li.current-menu-item > a {
    color: #FFFFFF;
    background:#0F2C4B;
    outline: 0;
}

/* Child Levels - Menu Secondary */

.menu-secondary li li a {
	color: #fff;
    background: #0F2C4B;
    padding: 10px 15px;
    text-transform: none;
    margin: 0;
    font-weight: normal;
}

.menu-secondary li li a:hover, .menu-secondary li li a:active, .menu-secondary li li a:focus, 
.menu-secondary li li:hover > a, .menu-secondary li li.current-cat > a, .menu-secondary li li.current_page_item > a, .menu-secondary li li.current-menu-item > a {
	color: #fff;
    background: #153B65;
    outline: 0;
}

/* Arrows - Menu Secondary */

.menu-secondary a.sf-with-ul {
    padding-right: 26px;
    min-width: 1px;
}
.menu-secondary  .sf-sub-indicator {
    position: absolute;
    display: block;
    overflow: hidden;
    right: 0;
    top:  0;
    padding: 13px 13px 0 0;
}

.menu-secondary li li .sf-sub-indicator {

    padding: 9px 13px 0 0;
}

/* Shadows - Menu Secondary */

.wrap-menu-secondary .sf-shadow ul {
    background:	url('images/menu-secondary-shadow.png') no-repeat bottom right;
}

/* =POST
-------------------------------------------------------------- */

/* Post General
----------------------------*/

.post {
    margin-bottom: 15px;
}

strong {
    font-weight:bold; !important;
}

em {
 font-style:italic; !important;

}

.page, .post-single {
    border-bottom: 0;
    margin-bottom: 0;
}

.title {
    color: #102C4C;
    margin: 0 0 10px 0;
    padding: 0;
    font-family: 'Artifika', serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}

.title a {
    color: #102C4C;
    text-decoration: none;
}

.title a:hover {
    color: #FF1300;
    text-decoration: none;
}

.entry {
    line-height: 20px;
}

.featured_image {
    padding: 6px;
    border: 1px solid #BDBDBD;
    background: #fff;
}

.page-title {
    color: #102C4C;
    margin: 0px 0 10px 0;
    padding: 0 0 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Arial, Helvetica, Sans-serif;
    border-bottom: 2px solid #DDDDDD;
}

/* Post Metas
----------------------------*/

.postmeta-primary {
    color: #999999;
    font-size: 12px;
    line-height: 18px;
    padding: 6px 0;
    margin: 0 0 10px 0;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.postmeta-secondary {
    color: #999999;
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 10px 0;
}

.postmeta-comment {
    float: right;	
	background: url(images/comments-big.png) no-repeat 0 0;
	width: 39px;
	height: 32px;
	padding: 4px 0 0 2px;
	text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.postmeta-comment a {
    color: #222222;
    text-decoration: none;
}

.postmeta-primary span, .postmeta-secondary span {
    padding:3px 0 3px 20px;
    background-position:left center;
    background-repeat: no-repeat;
}

.meta_date {
    background-image: url(images/date.png);
}

.meta_author {
    background-image: url(images/author.png);
}

.meta_comments {
    background-image: url(images/comments.png);
}

.meta_edit {
    background-image: url(images/edit.png);
}

.meta_categories {
    background-image: url(images/category.png);
}

.meta_tags {
    background-image: url(images/tags.png);
}

/* Read More
----------------------------*/

.readmore {
    margin-bottom: 15px;
    float: right;
}

.readmore a {
    color: #153A63;
    padding: 8px 14px;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.readmore a:hover {
    color: #FF1300;
    text-decoration: none;
}

/* =SITEMAP
-------------------------------------------------------------- */
.sitemap {
}

.sitemap-col {
    width: 30%;
    padding: 0 0 0 10px;
}

.sitemap-col-archives {
    width: 45%;
    padding: 0 0 0 10px;
}

.sitemap h2 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

.sitemap h3 {
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 10px 0;
}

.sitemap-list {
    font-size: 13px;
    line-height: 22px;
}

.sitemap-list, .sitemap-list ul {
    padding: 0 0 0 20px;
}

/* =CONTACT FORM
-------------------------------------------------------------- */
.contact-form {
}

.contact-form-label {
    width: 90px;    
    font-weight: bold;
    font-size: 14px;
    padding: 7px 0;
}

.contact-form-input {
    margin-left: 90px;    
}

.contact-form input[type=text] {
    padding: 6px;
    width: 60%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: #fff;
}

.contact-form input[type=submit] {
    padding: 5px 50px;
    border: 1px solid #ccc;
    background: #eee;
}
.contact-form textarea {
    width: 96%;
    padding: 6px;
    height: 160px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: #fff;
}

.contact-form-required {
    color: red;
}

/* =SLIDER
-------------------------------------------------------------- */

.fp-slider {
    margin: 0 0 15px 0;
}

.fp-slides-container {}

.fp-slides, .fp-thumbnail, .fp-prev-next, .fp-nav {
    width: 615px;
}

.fp-slides, .fp-thumbnail {
    height: 300px;
    overflow: hidden;
	position: relative;
}

.fp-title {
    font-family: Arial, Helvetica, Sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0 2px 0;
    margin: 0;
}

.fp-title a, .fp-title a:hover {
    color: #fff;
    text-decoration: none;
}

.fp-content {
    position: absolute;
    overflow: hidden;
    padding: 10px 15px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    opacity: 0.7;
    filter: alpha(opacity = 70);    
}

.fp-content p {
    color: #fff;
    padding: 0;
    margin: 0;
    line-height: 18px;
}

.fp-more,  .fp-more:hover{
    color: #fff;
    font-weight: bold;
}

.fp-nav {
    height: 12px;
    text-align: center;
    padding: 10px 0;
    background: #0E2643;
}

.fp-pager a { 
    background-image: url(images/featured-pager.png); 
    cursor:pointer;  
    margin: 0 8px 0 0; 
    padding: 0;
    display: inline-block;
    width: 12px; 
    height: 12px;
    overflow: hidden;
    text-indent: -999px; 
    background-position: 0 0;
    float: none;
    line-height: 1;
    opacity: 0.7;
    filter: alpha(opacity = 70);
}

.fp-pager a:hover, .fp-pager a.activeSlide  { 
    text-decoration: none;
    background-position: 0 -112px;
    opacity: 1.0;
    filter: alpha(opacity = 100);
}

.fp-prev-next-wrap {
    position: relative; 
    z-index: 200; 
}

.fp-prev-next {
    position: absolute;
    bottom: 130px;
    left: 0;
    right: 0;
    height: 37px;  
}

.fp-prev {
    float:left;
    margin-left: 14px;
    width:37px;
    height:37px;
    background:url(images/featured-prev.png) left top no-repeat;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.fp-prev:hover {
    opacity: 0.8;
    filter: alpha(opacity = 80);
}

 .fp-next {
    float:right;
	width:36px;
    height:37px;
    margin-right: 14px;
    background:url(images/featured-next.png) right top no-repeat;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.fp-next:hover {
    opacity: 0.8;
    filter: alpha(opacity = 80);
}

/* =WP-PAGENAVI
-------------------------------------------------------------- */

.wp-pagenavi {
    float: left;
    display: block;
    clear: both;
    padding: 10px 0;
}

.wp-pagenavi a ,.wp-pagenavi span.pages, .wp-pagenavi span.extend {
		color:#707070 !important;
		background:#FFFFFF !important;
		border-radius:3px !important;	
		-moz-border-radius:3px !important;
		-webkit-border-radius:3px !important;
		border:solid 1px #DCDCDC !important;
		padding:6px 9px 6px 9px !important;
		margin-right:3px !important;
		text-decoration:none !important;
		font-size:12px !important;
}
.wp-pagenavi a:hover {
		color:#fff !important;
		text-shadow:0px 1px #B72E2E !important;
		border-color:#AD2D2D !important;
		background:#E43838 !important;
		background:-moz-linear-gradient(top,#FF9B9B 1px,#FE5555 1px,#E43838) !important;
		background:-webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#FF9B9B),color-stop(0.02,#FE5555),color-stop(1,#E43838)) !important;

}
 .wp-pagenavi span.current{
		padding:6px 9px 6px 9px !important;
		border:solid 1px #DCDCDC !important;
		border-color:#3390CA !important;
		border-radius:3px !important;	
		-moz-border-radius:3px !important;
		-webkit-border-radius:3px !important;
		color:#fff !important;
		margin-right:3px !important;
		text-shadow:0px 1px #B72E2E !important;
		border-color:#AD2D2D !important;
		background:#E43838 !important;
		background:-moz-linear-gradient(top,#FF9B9B 1px,#FE5555 1px,#E43838) !important;
		background:-webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#FF9B9B),color-stop(0.02,#FE5555),color-stop(1,#E43838)) !important;
}

/* =FOOTER
-------------------------------------------------------------- */

#footer {
    margin-bottom:15px;
    padding: 25px 0;
    background: #0B1F36;
}

#copyrights {
    color: #FFFFFF;
    float: left;
    padding-left: 15px;
}

#copyrights a {
    color: #FFFFFF;
} 

#copyrights a:hover {
    color: #FFFFFF;
    text-decoration: none;
} 

#credits {
    color: #B2CFF0;
    font-size: 11px;
    float: right;
    padding-right: 15px;
}

#credits a {
    color: #B2CFF0;
    text-decoration: none;
} 

#credits a:hover {
    text-decoration: none;
    color: #B2CFF0;
} 

/* =WIDGETS
-------------------------------------------------------------- */

/* Widgets Defaults
----------------------------*/

.widget-container {
    list-style-type: none;
    list-style: none;
    margin: 0 0 15px 0;
    padding: 10px;
    color: #0D2540;
    font-size: 13px;
    border: 1px solid #B6C0CA;
    background: #F7F8FA;
}

.widget-container a {
    color: #0D2540;
    text-decoration: none;
}

.widget-container a:hover {
    color: #DD312E;
    text-decoration: none;
}

.widgettitle {
    background: url(images/widgettitle-bg.png) left top repeat-x;
    margin: -10px -10px 10px -10px;
    padding:  12px 0 10px 10px;
}

.widgettitle, .widgettitle a, .widgettitle a:hover {
    color: #16477E;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Coustard', serif; 
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.widget ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget ul li {
    padding: 0 0 9px 0;
    margin: 0 0 8px 0;
    background: url(images/widget-line.png) left bottom repeat-x;
}

/* Search
----------------------------*/

#search {
    border: 1px solid #B6C0CA;
    background: #fff url(images/search.png) 99% 50% no-repeat;
    text-align: left;
    padding: 6px 24px 6px 6px;
}

#search #s {
    background: none;
    color: #657382;
    border: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    outline: none;
}

#content-search {
    width: 300px;
    padding: 15px 0;
}

/* Wp Calendar
----------------------------*/

#wp-calendar td:hover, #wp-calendar #today {
    background: #DD312E;
    color: #fff;
}

#wp-calendar td:hover a, #wp-calendar #today a {
    color: #fff;
}

/* Text Widget
----------------------------*/

.textwidget {
    line-height: 18px;
}

/* 125x125 Banners Widget
----------------------------*/

.banners-125 {
    text-align: center;
    margin-bottom: -10px;
}

.banners-125 img {
    margin: 0 5px 5px 5px;
}


/* Posts Widget
----------------------------*/

.posts-widget ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.posts-widget ul li {
    list-style-type: none; 
    list-style: none;
    padding: 0 0 15px 0; 
    margin: 0 0 15px 0;
    background: url(images/widget-line.png) left bottom repeat-x;
}

.posts-widgettitle {
    font-weight: bold; 
    padding: 0 0 5px 0; 
    margin: 0; 
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 14px;
}

.posts-widgettitle a {}

.posts-widgettitle a:hover {}

.posts-widget-meta { 
    font-style: italic;  
    padding: 0 0 5px 0;
}

.posts-widget-entry {
    font-family: Arial, Helvetica, Sans-serif; 
    line-height: 20px;
}

.posts-widget-more {
    font-weight: bold;
}

.posts-widget-more:hover {}

.posts-widget-featured-image {
    border: 1px solid #ddd;
    padding: 4px;
    background-color: #fff;
}

.posts-widget .alignleft {
    margin: 0 8px 8px 0;
}

.posts-widget .alignright {
    margin: 0 0 8px 8px;
}

.posts-widget .aligncenter {
    margin-bottom: 8px;
}

/* Comments Widget
----------------------------*/

.comments-widget ul {
    list-style-type: none;
    list-style: none;
    padding: 0; 
    margin: 10px 0 0 0;
}

.comments-widget ul li {
    list-style-type: none; 
    list-style: none;
    padding: 0 0 10px 0; 
    margin: 0 0 10px 0;
    background: url(images/widget-line.png) left bottom repeat-x;
}

.comments-widget-author {
    text-decoration: none; 
    font-weight: bold; 
    padding: 0 0 5px 0; 
    margin: 0;
}

.comments-widget-author:hover {}

.comments-widget-entry {
    font-family: Arial, Helvetica, Sans-serif; 
    line-height: 20px;
}

.comments-widget-more {
    font-weight: bold; 
}

.comments-widget-more:hover {}

.comments-widget-avatar {
    border: 1px solid #ddd;
    padding: 4px;
    background-color: #fff;
}

.comments-widget .alignleft {
    margin: 0 8px 0 0;
}

.comments-widget .alignright {
    margin: 0 0 0 8px;
}

.comments-widget .aligncenter {
    margin-bottom: 8px;
}

/* Info Box Widget
----------------------------*/

.infobox-widget ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.infobox-widget ul li {
    list-style-type: none; 
    list-style: none;
    padding: 0; 
    margin: 5px 0 0 0;
}

.infobox-widget ul li a {
    text-decoration: none;
}

.infobox-widget-description {
    line-height: 20px;
}

.infobox-widget-more {
    font-weight: bold;    
}

.infobox-widget-more:hover {   
}


.infobox-widget .alignleft {
    margin: 0 10px 10px 0;
}

.infobox-widget .alignright {
    margin: 0 0 10px 10px;
}

.infobox-widget .aligncenter {
    margin-bottom: 10px;
}

.infobox-widget .inbottom {
    margin-top: 10px;
}

/* Social Profiles Widget
----------------------------*/
.social-profiles-widget img {
    margin: 0 4px 0 0;
} 

.social-profiles-widget img:hover {
    opacity: 0.8;
} 

/* Tabs Widget
----------------------------*/

.tabs-widget {
    list-style: none; 
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0; 
    height: 26px;
}

.tabs-widget li {
    list-style: none; 
    list-style-type: none; 
    margin: 0 0 0 4px; 
    padding: 0; 
    float: left;
}

.tabs-widget li:first-child {
    margin: 0;
}

.tabs-widget li a {
    color: #375371;
    background: url(images/tabs-bg.png) left top repeat-x;
    padding: 6px 16px;
    font-family: Arial, Helvetica, Sans-serif;
    font-weight: bold;
    display: block;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
}

.tabs-widget li a:hover, .tabs-widget li a.tabs-widget-current {
    background: url(images/tabs-bg.png) left -126px repeat-x;
    color: #FFFFFF;
}

.tabs-widget-content {
}

/* Tweets Widget
----------------------------*/

.tweets-widget ul {
    list-style-type: none; 
    list-style: none;
    margin: 0; 
    padding: 0; 
    line-height: 20px;
    font-family: Arial, Helvetica, Sans-serif; 
}

.tweets-widget ul li {
    list-style-type: none;
    list-style: none;
    padding: 0; 
    margin: 15px 0 0 0; 
}

.tweets-widget ul li:first-child {
    margin-top: 5px;
}

.tweets-widget li.tweets-bird {
    padding-left: 24px;
    background: url(images/tweets.png) left 2px no-repeat;
}

.tweets-widget a {}

.tweets-widget a:hover {}

a.tweets-widget-time {
    text-decoration: underline; 
}

a.tweets-widget-time:hover {
    text-decoration: none; 
}

/* Facebook Widget
----------------------------*/

.facebook-widget {
    list-style-type: none; 
    list-style: none;
    margin: 0; 
    padding: 0;
}

/* =COMMENTS
-------------------------------------------------------------- */

#comments {
    margin-bottom: 15px;
}

#comments p {
    margin: 5px 0 10px 0;
}

h3#comments-title {
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 0 0 15px 0;
}

.commentlist { 
    list-style: none;
    margin: 0;
    padding: 0;
}

.commentlist li.comment {
    line-height: 24px;
    margin: 0 0 15px 0;
    padding: 0 0 0 0px;
    position: relative;
}

.commentlist li:last-child {
    border-bottom:none;
    margin-bottom:0;
}

#comments .comment-body ul,
#comments .comment-body ol {
    margin-bottom: 15px;
}

#comments .comment-body blockquote p:last-child {
    margin-bottom: 15px;
}

.commentlist .avatar {
    border: 3px solid #ffffff;
    margin-right: 10px; 
    width: 40px; 
    height: 40px; 
    vertical-align: middle;
    margin-bottom: 2px;
}

.comment-author {
    padding: 5px;
    display: block;
    background: #F2F2F2;
    border: 1px solid #DFDFDF;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.comment-author cite {
    font-style: normal;
    font-weight: bold;
}

.comment-author .says {
    font-style: italic;
}

.fn, .fn a:link, .fn a:hover, .fn a:visited {
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 16px; 
    font-style: normal; 
    font-weight: bold;
    text-decoration: none;
}

.comment-meta {
    margin: -23px 0 0 65px;
    display: block;
    font-size: 11px;
    padding:0;
}

.comment-meta a:link,
.comment-meta a:visited {
    text-decoration: none;
}
.commentlist .bypostauthor {
}
.reply {
    text-align: right;
    margin-bottom: 10px;
}

.comment-reply-link  {
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    background: #EDEDED;
    color: #333;
    padding: 2px 8px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border:  1px solid #999999;
}

.comment-reply-link:hover {
    background: #F5F5F5;
    color: #333;
}


.commentlist .children {
    list-style: none;
    margin: 0;
}

/* Children */

.commentlist .children li {
    border: none;
    margin: 0;
}

.nocomments {
    display: none;
}

#comments .pingback {
    margin-bottom: 18px;
    padding-bottom: 18px;
}

.commentlist li.comment+li.pingback {
    margin-top: -6px;
}

#comments .pingback p {
    font-size: 12px;
    line-height: 18px;
    display:block;
    margin: 0;
}

#comments .pingback .url {
    font-style: italic;
    font-size: 13px;
}

/* Comments form */

#respond {
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

h3#reply-title {
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 0 0 15px 0;
}

#respond .required {
    color:#FF4B33;
}

#respond .comment-notes {
    margin-bottom: 1em;
}

.form-allowed-tags {
    display: none;
}

.children #respond {
    margin: 0 48px 0 0;
}

#comments-list #respond {
    margin: 0 0 18px 0;
}

#comments-list ul #respond {
    margin: 0;
}

#cancel-comment-reply-link {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

#respond .required {
    color:#FF4B33;
    font-weight:bold;
}

#respond label {
    font-size: 12px;
    font-weight: bold;
}

#respond input {
    margin:10px 0 0 0;
    width:98%;
}

#respond textarea {
    width:98%;
    margin:10px 0 0 0;
}

#respond .form-allowed-tags {
    font-size: 12px;
    line-height: 18px;
}

#respond .form-allowed-tags code {
    font-size: 11px;
}

#respond input[type=submit] {
    margin: 0;
}

#respond .form-submit {
    margin: 0;
}

#respond .form-submit input {
    width: auto;
    font-size: 14px;
}
#respond dl {
    margin: 0 0 10px;
}

#respond dt {
    display: inline;
    font-weight: normal;
}

#respond dd {
    display: inline;
}

/* POSTS IN PAGE */
.entry-summary img{
      float: left;
      border-radius: 15px;
      box-shadow: 5px 5px 10px #888888;
      margin-right: 10px;
}

.entry-summary p{
      margin-left:10px;
}

.ivycat-post {
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:15px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
        box-shadow: 1px 1px 5px rgb(136, 136, 136);

}

.naviButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4f93bd), color-stop(1, #0d2540));
	background:-moz-linear-gradient(top, #4f93bd 5%, #0d2540 100%);
	background:-webkit-linear-gradient(top, #4f93bd 5%, #0d2540 100%);
	background:-o-linear-gradient(top, #4f93bd 5%, #0d2540 100%);
	background:-ms-linear-gradient(top, #4f93bd 5%, #0d2540 100%);
	background:linear-gradient(to bottom, #4f93bd 5%, #0d2540 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f93bd', endColorstr='#0d2540',GradientType=0);
	background-color:#4f93bd;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#e8e8e8;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
        margin-right: 5%;
        font-weight:bold;

}
.naviButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0d2540), color-stop(1, #4f93bd));
	background:-moz-linear-gradient(top, #0d2540 5%, #4f93bd 100%);
	background:-webkit-linear-gradient(top, #0d2540 5%, #4f93bd 100%);
	background:-o-linear-gradient(top, #0d2540 5%, #4f93bd 100%);
	background:-ms-linear-gradient(top, #0d2540 5%, #4f93bd 100%);
	background:linear-gradient(to bottom, #0d2540 5%, #4f93bd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d2540', endColorstr='#4f93bd',GradientType=0);
	background-color:#0d2540;
}
.naviButton:active {
	position:relative;
	top:1px;
}

.naviBlock {
	text-align: center;
}

/* =END
-------------------------------------------------------------- */